* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(./img/red-spinning.webp);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.mainbox {
  position: relative;
  width: 500px;
  height: 500px;
  margin-top: 50px;
}

.mainbox:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url(./img/arrow.png) no-repeat;
  background-size: 5%;
  left: 100%;
  top: 48%;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: 10px solid rgb(0, 255, 234);
  overflow: hidden;
  transition: transform 5s ease-in-out;
  transform: rotate(0deg);
}

span {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
}

.span1 {
  clip-path: polygon(0 17%, 0 50%, 50% 50%);
  background-color: green;
}

.span2 {
  clip-path: polygon(0 17%, 30% 0, 50% 50%);
  background-color: rgb(0, 77, 128);
}

.span3 {
  clip-path: polygon(30% 0, 71% 0, 50% 50%);
  background-color: rgb(219, 99, 29);
}

.span4 {
  clip-path: polygon(71% 0, 100% 18%, 50% 50%);
  background-color: rgb(185, 198, 206);
}

.span5 {
  clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
  background-color: rgb(46, 5, 54);
}

.box2 .span3 {
  background-color: aquamarine;
}

.box2 {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

.box2 .span1 {
  background-color: rgb(163, 9, 9);
}

.box1 .span1 img,
.box1 .span2 img,
.box1 .span3 img,
.box1 .span4 img,
.box1 .span5 img,
.box2 .span1 img,
.box2 .span2 img,
.box2 .span3 img,
.box2 .span4 img,
.box2 .span5 img {
  position: absolute;
  border-radius: 50%;
  align-items: center;
}

.box1 .span1 img {
  top: 32%;
  right: 81%;
  transform: rotate(260deg);
}

.box1 .span2 img {
  top: 15%;
  right: 68%;
  transform: rotate(-40deg);
}

.box1 .span3 img {
  top: 8%;
  right: 45%;
  transform: rotate(-70deg);
}

.box1 .span4 img {
  top: 12%;
  right: 18.5%;
  transform: rotate(-70deg);
}

.box1 .span5 img {
  top: 33%;
  right: 5%;
  transform: rotate(-70deg);
}

.box2 .span5 img {
  top: 32%;
  right: 6%;
  transform: rotate(80deg);
}

.box2 .span3 img {
  top: 5%;
  right: 42%;
  transform: rotate(80deg);
}

.box2 .span2 img {
  top: 15%;
  right: 65%;
  transform: rotate(80deg);
}

.box2 .span1 img {
  top: 32%;
  right: 82%;
  transform: rotate(80deg);
}

.box2 .span4 img {
  top: 12%;
  right: 20%;
  transform: rotate(80deg);
}

.spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid white;
  background: blue;
  color: white;
  box-shadow: 0 5px 20px black;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}